.fondo_diagonal{
    clip-path: polygon(0 4%, 100% 0%, 100% 96%, 0% 100%);
    background: linear-gradient(#0000FF, #0000A3);
    width: 100%;
    margin-top: 20px;
    padding-bottom: 40%;
    position: relative;
    z-index: 1;
}
#main {
    @extend %margin-general;
    padding-top: 20%;
    position: relative;
    z-index: 2;
}
main h2 {
    color: #FFFFFF;
    @extend %margin-general;
    padding-bottom: 20px;
}
.main-podcasts {
    @extend %margin-general;
}
.podcasts iframe {
    height: 232px;
    width: 100%;
    max-width: 100%;
}
@media (min-width: 1024px){
    .fondo_diagonal {
        padding-bottom: 15%;
        clip-path: polygon(0 11%, 100% 0%, 100% 89%, 0% 100%);
    }
    #main {
        padding-top: 10%;
    }
    .main-podcasts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
    }
    .podcasts {
        width: 48%;
        margin-top: 3%;
    }
    .podcasts iframe {
        width: 100%;
        max-width: 100%;
    }
}
