/*NOVEDADES y FOOTER*/ 

.novedades,
.footer {
    @extend %margin-general;
   text-align: center;
}
.footer h2{
   font-size: 14px;
}
.footer ul{
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.footer ul li {
  font-size: 20px;  
}

