*{
    font-family: 'IBM Plex Mono', monospace;
    color: rgba(6,10,36,1);
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
}
p, h2, h1{
    color: $font-primary-color;
}

h1,
h1 span,
h2{
    font-size: $font-size-titles;
    font-family: 'IBM Plex Sans', sans-serif;;
    font-weight: normal;
    line-height: 42px;
}
