//HEADER
@media (min-width: 1000px){
    .header-principal{
        justify-content: space-between;
    }
    .header-principal span{
        display: none;
    }
    #checkbox{
        display: none;
    }
    .nav-menu{
        opacity: 1;
        background: #FFFFFF;
        position: static;
        width: 50%;
        margin-right: 4%;
        transition: none;
        z-index: 1;
    }
    .nav-menu ul{
        transition: none;
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    .nav-menu ul li a{
        color: #060A24;
    }
    
}

//SECCION 1
@media (min-width: 1000px){
    .boton-conoce_mas,
    .boton-escucha-los-episodios {
    width: 25%;
    margin-left: 4%;
    }
    .boton-escucha-los-episodios{
        padding: 10px 30px;
        margin: 0 auto;
    }
    .seccion-1 {
            h1 {
            margin-left: 4%;
        }
    }
    #span-h1-2{
        color: #0000FE;
    }
    .seccion-desktop-p{
        display: block;
        margin-left: 4%;
    }
    .seccion-movil-p {
        display: none;
    }
}

//MAIN
@media (min-width: 1000px){
    .fondo_diagonal {
        padding-bottom: 15%;
        clip-path: polygon(0 11%, 100% 0%, 100% 89%, 0% 100%);
    }
    #main {
        padding-top: 10%;
    }
    .main-podcasts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
    }
    .podcasts {
        width: 48%;
        margin-top: 3%;
    }
    .podcasts iframe {
        width: 100%;
        max-width: 100%;
    }
}

//SECCION 2
@media (min-width: 1000px) {
    .seccion-2 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: -7%;
    }
    .seccion-2 article {
        width: 40%;
    }
    .cellphone {
        width: 30%;
        margin-top: auto;
    }
}

// SECTION 3

@media (min-width: 1000px) {
    .seccion-3{
        .invitados {
            display: grid;
            grid-template-columns: repeat(3, 33%);
            grid-template-rows: 50% 50%;
        }
    }   

}

//TEMAS
@media (min-width: 1000px) {
    .temas header h2 {
        margin-left:  4%;
    }
    .container_temas {
        flex-direction: row;
    }
    .container_temas div {
        width: 15%;
    }
}

//FOOTER
@media (min-width: 1000px) {
    
    .novedades {
        padding-top: 10% ;
        padding-bottom: 10%;
        clip-path: polygon(0 27%, 100% 0%, 100% 100%, 0% 100%);
       background: linear-gradient(to right,#0000A3, #0000FF);
       margin: 0;
    }
    .novedades h2 {
        color: #FFFFFF;
    }
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .footer ul {
        position: absolute;
        right: 4%;
    }
    .footer ul li {
        margin-left: 15%;
    }
   
}
