/*Seccion 1*/
.seccion-1 {
    max-height: fit-content;
}
.seccion-1 article {
    @extend %margin-general;
}

#span-h1-1 {
    text-decoration: line-through;
}

.seccion-desktop-p{
    display: none;
}
